{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="form-section">
        <h2 class="section-headline">Login</h2>
        <p class="section-description">
            Please fill in your credentials to login to your account.
        </p>
        <div class="form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login">
            </form>
        </div>
    </section>
{% endblock %}