{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <section class="container mt-4">
        <div class="text-center">
            <h2>Reset password</h2>
            <p>
                Please fill in your registred email to reset your password.
            </p>
        </div>
        <div class="form">
            <form class="col-lg-6 mx-auto form-group" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Reset password">
            </form>
        </div>
    </section>
    <script>
        addFormClasses()
    </script>
{% endblock %}