{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <section class="form-section">
        <h2 class="section-headline">Reset password</h2>
        <p class="section-description">
            Please fill in your registred email to reset your password.
        </p>
        <div class="form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="submit-btn" type="submit" value="Reset password">
            </form>
        </div>
    </section>
{% endblock %}