{% extends 'base.html' %}

{% block title %}{{ operation.title }}{% endblock %}

{% block content %}
    <section class="container py-4">
        <h2 class="text-center">{{ operation.title }}</h2>
        <p class="text-center">
            {{ operation.description }}
        </p>
        <div class="form">
            <form class="col-lg-6 mx-auto form-group" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input class="btn btn-primary" type="submit" value="{{ operation.title }}">
            </form>
            <div class="container">
                <a class="float-right" href="{% url 'login' %}">Already have an account?</a>
            </div>
        </div>
    </section>
    <script>
        addFormClasses()
    </script>
{% endblock %}