<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product | Adetech Store</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand">

        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="description">Description</label>
        <input type="text" name="description" id="description">

        <label for="price">Price</label>
        <input type="number" min="0" name="price" id="price">

        <input type="submit" value="Add">
    </form>
</body>
</html>