{% extends 'base.html' %}

{% block title %}{{product.title}}{% endblock %}

{% block content %}
<section class="media mt-4 container row">
    <img class="align-self-center mr-3 col-sm" src="{{product.image.url}}" alt="{{ product.title }}">
    <div class="media-body col-sm">
        <h5 class="mt-0">{{product.brand | capfirst }}</h5>
        <p>{{product.title | capfirst }}</p>
        <p class="text-secondary">${{product.price | floatformat:2}}</p>
        <p class="">{{product.description}}</p>
        <a class="btn btn-primary float-right" href="{% url 'add_to_cart' product_id=product.id %}">
            <i class="fas fa-cart-plus"></i> Add to cart
        </a>
    </div>
</section>
{% endblock %}