.primary, a {
    color: #333;
}

a {
    font-weight: bold;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
}

.btn-primary:hover {
    background-color: #fff;
    border-color: #333;
    color: #333;
}

.btn-danger {
    background-color: #671b22;
    border-color: #671b22;
}

p {
    color: #4b4b4b;
}


.jumbotron {
    height: 100vh;
}