{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/customize.css' %}"/>
        <script src="{% static 'js/app.js' %}"></script>
        <title>{% block title %}{% endblock %} | Adetech Store</title>
    </head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav container">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'home' %}">All Products <span class="sr-only">(current)</span></a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'product_add' %}">New product</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'order_list' %}">Orders</a>
                    </li>
                    {% endif %}
                  </ul>
                  
                  <ul class="nav justify-content-end container">
                      {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="#">Hi {{ user.username  | capfirst }}</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'login' %}">Login</a>
                      </li>
                      {% endif %}
                    </ul>
                </div>

              </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer class="sticky-bottom p-2">
        <div class="fixed-bottom bg-white">
            <a class="btn btn-primary float-right" href="#" id="scroll-up">
                <i class="fas fa-chevron-up"></i>
            </a>
            <!--2-->
            <p>&copy; 2020 STORE All Rights Reserved.</p>
            <!--2-->
        </div>
    </footer>
    
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</body>
</html>