{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Cart{% endblock %}

{% block content %}
    <section class="clearfix">

        <h2 class="section-headline">Your cart</h2>
        <p class="section-description">
            All products you've added to your cart
        </p>
    
        <div class="cart">
            <ul>
                {% for product in products %}
                    <li class="item">
                        <div class="cart-product-img">
                            <img src="{{product.image.url}}" alt="{{ product.title }}">
                        </div>
                        <div >
                            <h3>{{ product.title | capfirst }}</h3>
                        </div>
                        <div>
                            <p>${{ product.price | floatformat:2 }}</p>
                        </div>
                        <div>
                            <a class="remove" href="{% url 'remove_from_cart' product_id=product.id %}">x</a>
                        </div>
                    </li>
                {% empty %}
                    <li>
                        <p>Your cart is still empty!</p>
                    </li>
                {% endfor %}

                {% if total_price.price__sum > 0 %}
                
                    <li id="cart-summary" class="item">
                        <div>
                            <h3>Total price</h3>
                        </div>
                        <div>
                            <p>${{ total_price.price__sum | floatformat:2  }}</p>
                        </div>
                        <div>
                            <a class="clear" href="{% url 'checkout' %}">Checkout</a>
                            <a class="clear" href="{% url 'remove_all_from_cart' %}">Clear cart</a>
                        </div>

                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}