
{% extends 'base.html' %}

{% block title %}{{ user.username | capfirst }}'s order{% endblock %}

{% block content %}
    <section class="form-section">
        <h2 class="section-headline">Make your order</h2>
        <p class="section-description">
            Change your main address if you want to order from a different one.
        </p>
        <div class="form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="submit-btn" type="submit" value="Order now">
            </form>
        </div>
    </section>
{% endblock %}